.logo-web {
    color:$accent-color;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 93px;
}

.logo-studio {
    color: $logo-text-color;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

// FOOTER

.logo-web-footer {
    color: $accent-color;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    display: block;
    margin-bottom: 20px;
}

.logo-studio-text {
    color: $primary-text-color;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}