.section-work {
    padding-bottom: 94px;
}

.section-headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.product-box {
    position: relative;
}

.product-box::before {
    display: inline-block;
    position: absolute;
    content: '';
    width: 370px;
    height: 70px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.article-title {
    color: $primary-text-color;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    display: flex;
    left: 107px;
    bottom: 27px;
}