.header-container-project {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item {
    width: 370px;
    overflow: hidden;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover,
.item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.animation-link {
    display: block;
    transition-property: border, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.animation-link:hover,
.animation-link:focus {
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.animation-link:hover,
.animation-link:focus .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-text {
    color: $primary-text-color;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    top: 63px;
    left: 24px;
    right: 24px;
    bottom: 63px;
    position: absolute;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text:hover {
    opacity: 1;
}

.item:hover .portfolio-text {
    transform: translateY(0);
}

.item-project {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.section-caption {
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.section-paragraph {
    color: $secondary-text-color;
    font-size: 16px;
    line-height: 1.9;
}